# Node.js
node_modules/
npm-debug.log
yarn-error.log
*.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Testing
coverage

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# JetBrains IDEs
.idea/
*.iml

# Node.js Installer files
node.exe